<!DOCTYPE html>
<html>
  <head>
    <title>Location</title>
    
    <script type='text/javascript' language='javascript' src='/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js' defer  ></script>
    
    <script type="text/javascript">
    
      tt_cancel_destination = '/';
      tt_cancel_show = '/';
      
      function checkBarcode(){
        __$("keyboard").style.display = "none";
        
        __$("clearButton").style.display = "none";
        
        <% if cookies[:location].nil? %>
          __$("cancelButton").innerHTML = "<span>Logout</span>"
          
          tt_cancel_destination = '/logout';
        <% end %>        
        
        if(__$("touchscreenInput" + tstCurrentPage)){
          if(__$("touchscreenInput" + tstCurrentPage).value.match(/\$/) || 
            __$("touchscreenInput" + tstCurrentPage).value.match(/\n/)){
            
            document.forms[0].submit();
            
          }
        }
        
        setTimeout("checkBarcode()", 100);
      }
    
    </script>
    
  </head>
  <body>
    <div id='content'>
      <% form_tag '/verify_location' do -%>
        <table width='100%' border=1 cellpadding=10 cellspacing=0>
          <tr>
            <th colspan=2>
              Location
            </th>
          </tr>
          <tr>
            <td>
              Scan Location Barcode
            </td>
            <td>
              <input type="text" id="location" name="location" value="" helpText="Scan Location Barcode"
                tt_onload="checkBarcode()" class="hideKeyboard" />
            </td>
          </tr>
        </table>
        
      <% end %>
    </div>
  </body>
</html>
