<!DOCTYPE html>
<html>
  <head>
    <title>Create Vitals</title>
    
    <script type='text/javascript' language='javascript' src='/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js' defer  ></script>
    
    <script type="text/javascript">
    
      tt_cancel_destination = '/logout';
      tt_cancel_show = '/logout';
      
    </script>
    
  </head>
  <body>
    <div id='content'>
      <% form_tag '/authenticate' do -%>
        <table width='100%' border=1 cellpadding=10 cellspacing=0>
          <tr>
            <th colspan=2>
              Login
            </th>
          </tr>
          <tr>
            <td>
              Username
            </td>
            <td>
              <input type="text" id="username" name="username" value="" helpText="Username" />
            </td>
          </tr>
          <tr>
            <td>
              Password
            </td>
            <td>
              <input type="password" id="password" name="password" value="" helpText="Password" />
            </td>
          </tr>
        </table>
        
      <% end %>
    </div>
  </body>
</html>
